<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit" onclick="myFunction1()">Log Out</button>
  <script>
    function myFunction1() {
      alert("You need to Register");
    }
  </script>
</form>