*{
	box-sizing: border-box;
}
body{
	overflow: auto;
	background-color: #FDE9D1;
	font-family: 'Inter',sans-serif;
  margin-left: 60px;
  margin-right: 60px;
}
.nav{
	display: flex;
	align-items: center;
	padding: auto;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 10px;
	flex-wrap: wrap;
	justify-content: space-between;
}
.logo{
	margin-top:20px;
	margin-right: 100px;
	height: auto;
}
.search-box{
	margin-top: 30px;
	height: 35px;
	width:450px;
	border-radius: 5px;
	border-style: none;
	margin-left: 240px;
	margin-bottom: 20px;
	margin-right: 70px;
}
.search-box::placeholder{
	padding : 7px;
	opacity: 70%;
}
.nav i{
	font-size: 20px;
	cursor: pointer;
}
.user{
	max-width: 100px;
	height: 30px;
	background-color: #FDE9D1;
	border-style: none;
	word-spacing: 10px;
	font-weight: 700;
}
.navbar {
	overflow: hidden;
	background-color: #FDE9D1;
	font-family: Arial;
	margin-top: 30px;
	margin-left: 40px;
  }
  
  /* Links inside the navbar */
  .navbar a {
	float: left;
	font-size: 16px;
	font-weight: 700;
	color:  #003B22;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
	float: left;
	overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
	font-size: 16px;
	word-spacing: 10px;
	border: none;
	outline: none;
	color: #003B22;
	font-weight: 700;
	padding: 14px 16px;
	background-color: inherit;
	font: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #003B22;
	color: white;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: 100%;
	left: 0;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
	float: left;
	width: 24.90%;
	padding: 10px;
	background-color: #F3F3F3;
	height: 350px;
  }
  .column h4{
	color: #5AC8AF;
	margin-left: 10px;
  }
  
  .column h4:hover{
	cursor: pointer;
	color: #478d7d;
  }
  /* Style links inside the columns */
  .column a {
	float: none;
	color: grey;
	padding: 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  /* Add a background color on hover */

  .column a:hover {
	background-color: white;
	color: black;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
.view-plans{
	width: 170px;
	height: 35px;
	border-style: none;
	border-radius: 15px;
	margin-right: 20px;
	color: white;
	background-color: #FC8801;
	cursor: pointer;
	font-weight: 700;
}
.view-plans:hover{
	color: #FC8801;
	font-weight: 700;
	background-color: #003B22;

}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	margin-right: 70px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}


/* products*/
.product-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-top: 60px;
  margin-left: 50px;
  background-color: #FDE9D1;
  width: 800px;
  align-items: start;
}
/*.product-card{
  display: flex;
  flex-direction: column;

}*/
.product-card img{
  height: 250px;
  width: 350px;
  border-radius: 10px;
  object-fit: cover;
}

.product-card .cart-btn{
  display: inline-block;
  margin-top: 20px;
  height: 40px;
  width: 100px;
  border-radius: 8px;
  border-style: none;
  background-color: #FC8801;
  color:#003B22;
  font-weight: 700;
  cursor: pointer;
}
.product-card .remove-btn{
	display: inline-block;
  margin-top: 20px;
  height: 40px;
  width: 50px;
  border-radius: 8px;
  border-style: none;
  background-color: #FC8801;
  color:#003B22;
  font-weight: 900;
  cursor: pointer;
}

.product-card .cart-btn:hover{
  background-color: #003B22;
  color:#FC8801;
  width:110px;
  height: 45px;
  transition: ease-out;
}

.product-card .remove-btn:hover{
	background-color: #003B22;
	color:#FC8801;
	width:55px;
	height: 45px;
	transition: ease-out;
  }

.product-card h4{
  display: inline-block;
  margin-left: 90px;
  color: gray;
}

.product-card h4:hover{
  color: black;
  cursor: pointer;
}
.payment-btn{
	background-color: #FC8801;
	color: #003B22;
	height:50px;
	width: 100px;
	border-radius: 5px;
	border-style: none;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 30px;
	cursor: pointer;
	float: right;
	font-weight: 700;

}

.payment-btn:hover{
	background-color: #003B22;
	color:#FC8801;
	transition: 0.2s ease-out ;
	height: 55px;
	width: 110px;
}
